SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
FOOTBALL_API_KEY=
API_FOOTBALL_KEY=
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_WORLD_CUP_LEAGUE_ID=1
API_FOOTBALL_WORLD_CUP_SEASON=2026
API_FOOTBALL_TIMEZONE=Asia/Shanghai
FRIENDLIES_LEAGUE_ID=
FRIENDLIES_SEASON=2026
FRIENDLIES_LOOKBACK_DAYS=3
FRIENDLIES_LOOKAHEAD_DAYS=21
FRIENDLIES_NEXT_LIMIT=20
